!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css")
    %link(href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="all" rel="stylesheet" type="text/css")
    %script(src='/bower_components/crypto-js/crypto-js.js')
    %script(src='/bower_components/jquery/dist/jquery.min.js')
    %script(src='/js/index.js')
    

  %body
    = yield